.Img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    -ms-border-radius: 50;
    -o-border-radius: 50;
    object-fit: cover;
}